template(name='home')
  button Click Me
  p You've pressed the button {{counter}} times.

  p hello we can 
  | write on multiple
  | lines like this

  .box
    | and make classes like this

  p#hello
    | hello there
