.homepageHeader
  text-align center
  font-size 30px

.mainInput
  width 100%
  height 30px

.enterTodo
  width 50%
  text-align center
  margin-left 25%

.navBar
  border 1px solid #ccc
  height 30px
  list-style none
  >p
    margin-left 25px
    font-size 16px